{% load i18n %}

<form action="">

    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Добавить задачу' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="task_title">{% trans 'Заголовок' %}</label>
            <input type="text" name="task_title" id="task_title" class="form-control" placeholder="{% trans 'Заголовок' %}">
        </div>
        <div class="form-group">
            <label for="task_description">{% trans 'Подробное описание задачи' %}</label>
            <textarea name="task_description" id="task_description" class="form-control" placeholder="{% trans 'Подробное описание задачи' %}"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Отмена' %}</button>
        <button type="button" class="btn btn-primary">{% trans 'Добавить задачу' %}</button>
</div>

</form>