{% load i18n %}
{% load project_tags %}

<div class="card">
    <div class="card-header {% if task.is_completed %}is_completed{% elif task.is_on_verify %}is_on_verify{% else %}{% endif %}">
        <h4 class="card-title">{{ task.title }}</h4>
    </div>
    <div class="card-body">
        <div class="task-description">
            <div class="task-description__text">{{ task.description|safe }}</div>
            <div class="task-comments">
                <div class="task-comments__comments-list">
                    {% for comment in task.comment_set.all %}
                        {% include 'project/_comment.html' with comment=comment %}
                    {% endfor %}
                    <div id="addCommentContainer"></div>
                </div>
                {% add_comment user task %}
            </div>
        </div>
    </div>
</div>