{% extends 'cabinet.html' %}
{% load i18n %}
{% load static %}
{% load project_tags %}

{% block page_title %}{% endblock page_title %}
{% block headed_scripts %}{% endblock headed_scripts %}

{% block content %}
    <div class="container-fluid" style="min-width: 1900px; width: 100%;">
        <div class="row no-gutters-">
            <div class="col-2">
                <div class="list-group">
                    <div class="list-group-item list-group-item-primary">
                        <div class="row">
                            <div class="col-11">{% trans 'Проекты' %}</div>
                            <div class="col-1"><a href="#"><i class="fa fa-plus add-link"></i></a></div>
                        </div>
                    </div>
                    {% for project in projects %}
                        {% include 'project/_project-part.html' with project=project %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-2">
                <div class="list-group milestones-container" style="display: {% if has_last_visited_task %}block{% else %}none{% endif %}">
                    <div class="list-group-item list-group-item-primary">
                        <div class="row">
                            <div class="col-11">{% trans 'Майлстоуны' %}</div>
                            <div class="col-1">
                                <a href="{% url 'project:add-milestone' %}?project_id={{ current_project.id }}" id="addMilestone">
                                    <i class="fa fa-plus add-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="milestones">
                        {% if has_last_visited_task %}
                            {% for milestone in milestones %}
                                {% include 'project/_milestone-part.html' with milestone=milestone %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="list-group modules-container" style="display: {% if has_last_visited_task %}block{% else %}none{% endif %}">
                    <div class="list-group-item list-group-item-primary">
                        <div class="row">
                            <div class="col-11">{% trans 'Модули' %}</div>
                            <div class="col-1">
                                <a href="{% url 'project:add-module' %}?milestone_id={{ current_milestone.id }}" id="addModule">
                                    <i class="fa fa-plus add-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="modules">
                        {% if has_last_visited_task %}
                            {% for module in modules %}
                                {% include 'project/_module-part.html' with module=module %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="list-group tasks-container" style="display: {% if has_last_visited_task %}block{% else %}none{% endif %}">
                    <div class="list-group-item list-group-item-primary">
                        <div class="row">
                            <div class="col-11">{% trans 'Задачи' %}</div>
                            <div class="col-1">
                                <a href="{% url 'project:add-task' %}?module_id={{ current_module.id }}" id="addTask">
                                    <i class="fa fa-plus add-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="tasks">
                        {% if has_last_visited_task %}
                            {% for task in tasks %}
                                {% include 'project/_task-part.html' with task=task %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="description-container" style="display: {% if has_last_visited_task %}block{% else %}none{% endif %}">
                    <p class="list-group-item list-group-item-primary">{% trans 'Описание задачи' %}</p>
                    <div id="description">
                        {% if has_last_visited_task %}
                            <div class="card">
                                <div class="card-header {% if current_task.is_completed %}is_completed{% elif current_task.is_on_verify %}is_on_verify{% else %}{% endif %}">
                                    <h4 class="card-title">{{ current_task.title }}</h4>
                                </div>
                                <div class="card-body">
                                    <div class="task-description">
                                        <div class="task-description__text">{{ current_task.description|safe }}</div>
                                        <div class="task-comments">
                                            <div class="task-comments__comments-list">
                                                {% for comment in current_task.comment_set.all %}
                                                    {% include 'project/_comment.html' with comment=comment %}
                                                {% endfor %}
                                                <div id="addCommentContainer"></div>
                                            </div>
                                            {% add_comment user current_task %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer_scripts %}

<script src="{% static '' %}bower_components/js-cookie/src/js.cookie.js"></script>
<script src="{% static '' %}adminbite/assets/libs/toastr/build/toastr.min.js"></script>
<script src="{% static '' %}adminbite/assets/libs/select2/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="{% static '' %}adminbite/assets/libs/toastr/build/toastr.min.css">
<link rel="stylesheet" href="{% static '' %}adminbite/assets/libs/select2/dist/css/select2.min.css">
<style>
    .list-group-item-primary {
        background: #343d53;
        color: #fff;
    }
    .progress-bar {
        position: relative;
        top: -5px;
    }
</style>
{% endblock %}
